---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

import PostItemList from "../components/PostItemList";
import MotionList from "../components/MotionList";
// 可以在这里设置默认语言和主题
const lang = "en";
const theme = "light";

const allPosts = await getCollection("blog");
---

<Layout lang={lang} theme={theme}>
  <div class="mx-auto max-w-screen-sm p-5 flex flex-col gap-4">
    <PostItemList posts={allPosts} client:only="react"/>
  </div>
</Laoyout>